<%- contentFor('title') %>
    My Orders


<%- contentFor("styles") %>
<!-- For CSS -->
<link rel="stylesheet" href="/static/common/styles/useOrders.css">


<%- contentFor('content') %>
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h2 class="profileH2">My Orders</h2>
        </div>
        <div class="col col-md-4">
            <div class="list-group">
                <a href="/profile" class="list-group-item list-group-item-action noBORDER-RL ">
                    <div class="d-flex flex-row justify-content-between">
                        <p class="profileP">Personal Info</p>
                        <i class="bi bi-caret-right profile-icon"></i>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action noBORDER-RL active">
                    <div class="d-flex flex-row justify-content-between">
                        <p class="profileP">Orders</p>
                        <i class="bi bi-caret-right profile-icon"></i>
                    </div>
                </a>
                <a href="/mycart" class="list-group-item list-group-item-action noBORDER-RL">
                    <div class="d-flex flex-row justify-content-between">
                        <p class="profileP">My Cart</p>
                        <i class="bi bi-caret-right profile-icon"></i>
                    </div>
                </a>
                <a href="/logout" class="list-group-item list-group-item-action noBORDER-RL">
                    <div class="d-flex flex-row justify-content-between">
                        <p class="profileP">Logout</p>
                        <i class="bi bi-caret-right profile-icon"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-8">
                <div>
                    <% carts.forEach(function(cart){ %>
                        <%- include("./snippets/order", {product: cart.product}) %>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>
